---
---
{% include header.html %}
<div class="wrapper space">
	<section class="categories">
		{% assign categories = site.categories | sort %}
		{% for category in categories %}
			{% assign name = category[0] %}
			{% assign posts = category[1] %}
			{% assign size = posts | size %}
			<section class="category">
				<!--<h3>
					{{ name | replace: "-", " "}}
				</h3>-->
				<div class="cat-pages row">
					{% assign tutorials = posts |  sort: "nav_ordering" %}
					{% for tutorial in tutorials%}
						{% if tutorial.showSidebar %}
						{% if tutorial.published %}
							<div class="cat-page col-12 col-sm-4 p-4">
								
								<span class="cat-meta">
									<a href="{{ tutorial.url }}" class="cat-title"> 
										<span class="icon">{% include document-icon.html icon=tutorial.type %} </span>
										<span class="title">{{ tutorial.title }}</span>
									</a>
									<span>{{ tutorial.desc }}</span>
								</span>
							</div>
						{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</section>
		{% endfor %}
	</section>
</div>
{% include footer.html %}
